@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 9%
    left: 36%
    width: 96px
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    left: -3%
    width: 96px
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 6%
    width: 96px


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: white

figcaption, table caption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 550px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
  background-color: #E9EBEF !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

.text-end 
    text-align: left !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url(../assets/curso/common/bg1.png)
  &-2
    background-image: url(../assets/curso/common/bg2.png)
  &-slider
    background-image: url(../assets/curso/common/bg-slider.png)
    background-size: cover
.bg-color
  &-1
    background-color: #E5F0FC !important
  &-2
    background-color: #EAECF0
  &-3
    background-color: #FCF9EB !important
  &-4
    background-color: #FFE6D9 !important
  &-5
    background-color: #FCF9EB
    inline-size: fit-content
    margin: auto
  &-6
    background-color: #F6F6F6
  &-7
    background-color: #E6EAE9
  &-8
    background-color: #FDF7E4
  &-9
    background-color: #D4D9E0
  &-10
    background-color: #F9F2D6
  &-11
    background-color: #CAE1F9
    inline-size: fit-content
    margin: auto
  &-12
    background-color: #F2E5AD
    inline-size: fit-content
    margin: auto
  &-13
    background-color: #CAE1F9
  &-14
    color: $color-sistema-texto !important
  &-white
    background-color: white
  &-sintesis
    background-color: #F4F5F8


/////////IMG_100%_CAJON_MEDIO/////////
.pst
  position: relative
  z-index: 2
.banner-text
  background: linear-gradient(180deg,rgba(222, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(222, 222, 222, 1) 100%);
  border-radius: 10px
  padding: 20px 30px
  margin-top: -60px
  @media screen and (max-width: $bp-max-sm)
    margin-top: -10px


//////////////CUSTON SLYDER-A////////
.slyder-a__bullets__item 
  background-color: #F4E9B7
  border: #F4E9B7
.slyder-a__bullets__item--active
  background-color: #E0BF32
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: $color-acento-botones

/////////////ACORDION/////////////
.acordion__accion__btn--a
  background-color: $color-acento-botones !important
  color: $color-sistema-texto
.acordion__activo
  background-color: #FEECE6 !important
.acordion_titulo
  color: #fff !important
.acordion__titulo 
  h3
    color: $color-sistema-texto  !important
.acordion__activo
  .acordion__titulo 
    h3
      color: $color-sistema-texto !important

//////// Card hover ////////////
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: #FE8849
      h4
        color: $color-sistema-texto

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #FFCEB4
    text-align: center
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

//////////////CUSTOM TABS-A/////////////
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #FE8849
  color: $color-sistema-texto
.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
  background-color: #FE8849
.tabs-a__tab
  background-color: #D4D9E0
.tarjeta.color-acento-botones--borde
  background-color: #ECECEC
  border: solid 4px #ECECEC
.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus 
    background-color: #FE8849
    color: $color-sistema-texto

////////////AJUSTE TAMAÑO CONTERNEDOR IZQUIERO TABS-A//////////
.tabs-a
  @media (min-width: 1200px) 
    .row
      .col-xl-3 
        flex: 0 0 auto
        width: 38%
      .col-xl-9
        flex: 0 0 auto
        width: 62%
  @media (min-width: 992px) 
    .row
      .col-lg-4 
        flex: 0 0 auto
        width: 40%
      .col-lg-8 
        flex: 0 0 auto
        width: 60%
/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

  
 